In [1]:
# Import dependencies
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
# Read in CSV
df = pd.read_csv("Resources/Restaurants_in_Wake_County_-_YelpCSV.csv")

# Display data
df.head()

,X,Y,OBJECTID,BUSINESS_ID,NAME,ADDRESS,CITY,STATE,POSTAL_CODE,LATITUDE,LONGITUDE,PHONE_NUMBER,SHAPE
0,-78.649323,35.788869,4336996,000D0B7A-3048-98E7-046FBA1DC52B6D55,SUBWAY #12460,706 W PEACE ST,RALEIGH,NC,27605,35.788862,-78.649320,1.919834e+10,NaN
1,-78.674453,35.789608,4336997,00365192-A8F6-87E1-4D85FECDC569C6AB,CHECKERS PIZZA,2810 HILLSBOROUGH ST,RALEIGH,NC,27607,35.789600,-78.674450,1.919833e+10,NaN
2,-78.808528,35.619706,4336998,003B5816-EB2D-98FB-BB9A47422343117B,AVIATOR TASTING ROOM,209 TECHNOLOGY PARK LN,FUQUAY VARINA,NC,27526,35.619699,-78.808525,1.919567e+10,NaN
3,-78.783351,35.906859,4336999,0046D7E0-5056-A20B-FA728F89DE72F101,TAMARIND,8531-109 BRIER CREEK PKY,RALEIGH,NC,27617,35.906852,-78.783348,1.919406e+10,NaN
4,-78.877710,35.759654,4337000,004B7CC3-9291-1A30-0887F2F9A7C9FEE5,Johnny's Pizza,1763 W Williams ST,APEX,NC,27523,35.759647,-78.877707,1.111111e+14,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4791 entries, 0 to 4790
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             4776 non-null   float64
 1   Y             4776 non-null   float64
 2   OBJECTID      4791 non-null   int64
 3   BUSINESS_ID   4791 non-null   object
 4   NAME          4791 non-null   object
 5   ADDRESS       4791 non-null   object
 6   CITY          4791 non-null   object
 7   STATE         4791 non-null   object
 8   POSTAL_CODE   4791 non-null   object
 9   LATITUDE      4791 non-null   float64
 10  LONGITUDE     4791 non-null   float64
 11  PHONE_NUMBER  4611 non-null   float64
 12  SHAPE         0 non-null      float64
dtypes: float64(6), int64(1), object(6)
memory usage: 486.7+ KB

In [4]:
# Dropping columns we don't need
df = df.drop(["X","Y", "OBJECTID", "BUSINESS_ID", "POSTAL_CODE", 
              "LATITUDE", "LONGITUDE", "SHAPE"], axis=1)

# Display data
df.head()

,NAME,ADDRESS,CITY,STATE,PHONE_NUMBER
0,SUBWAY #12460,706 W PEACE ST,RALEIGH,NC,1.919834e+10
1,CHECKERS PIZZA,2810 HILLSBOROUGH ST,RALEIGH,NC,1.919833e+10
2,AVIATOR TASTING ROOM,209 TECHNOLOGY PARK LN,FUQUAY VARINA,NC,1.919567e+10
3,TAMARIND,8531-109 BRIER CREEK PKY,RALEIGH,NC,1.919406e+10
4,Johnny's Pizza,1763 W Williams ST,APEX,NC,1.111111e+14

In [5]:
raleigh_df = df[df["CITY"] == "RALEIGH"]

raleigh_df.head()

,NAME,ADDRESS,CITY,STATE,PHONE_NUMBER
0,SUBWAY #12460,706 W PEACE ST,RALEIGH,NC,1.919834e+10
1,CHECKERS PIZZA,2810 HILLSBOROUGH ST,RALEIGH,NC,1.919833e+10
3,TAMARIND,8531-109 BRIER CREEK PKY,RALEIGH,NC,1.919406e+10
5,THE FALCON'S NEST AT ST. AUGUSTINE,1315 OAKWOOD AVE,RALEIGH,NC,1.919822e+10
6,ELEVATION BURGER,8301 BRIER CREEK PKY,RALEIGH,NC,1.919999e+10

In [6]:
# raleigh_df["ADDRESS"] = raleigh_df["ADDRESS"].astype(str) + ' ' + \
# raleigh_df["CITY"].astype(str) + ' ' + raleigh_df["STATE"].astype(str)
# raleigh_df.head()

In [7]:
raleigh_df.fillna('N/A', inplace=True)

/var/folders/12/vjbhg3zn4sb0cb0x2xhbfh_r0000gn/T/ipykernel_13005/2747545510.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raleigh_df.fillna('N/A', inplace=True)

In [8]:
raleigh_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2441 entries, 0 to 4789
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   NAME          2441 non-null   object
 1   ADDRESS       2441 non-null   object
 2   CITY          2441 non-null   object
 3   STATE         2441 non-null   object
 4   PHONE_NUMBER  2441 non-null   object
dtypes: object(5)
memory usage: 114.4+ KB

In [9]:
raleigh_df["ADDRESS"] = raleigh_df["ADDRESS"].astype(str) + ' ' + \
raleigh_df["CITY"].astype(str) + ' ' + raleigh_df["STATE"].astype(str)
raleigh_df.head()

/var/folders/12/vjbhg3zn4sb0cb0x2xhbfh_r0000gn/T/ipykernel_13005/3707552227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raleigh_df["ADDRESS"] = raleigh_df["ADDRESS"].astype(str) + ' ' + \

,NAME,ADDRESS,CITY,STATE,PHONE_NUMBER
0,SUBWAY #12460,706 W PEACE ST RALEIGH NC,RALEIGH,NC,19198340605.0
1,CHECKERS PIZZA,2810 HILLSBOROUGH ST RALEIGH NC,RALEIGH,NC,19198326522.0
3,TAMARIND,8531-109 BRIER CREEK PKY RALEIGH NC,RALEIGH,NC,19194063473.0
5,THE FALCON'S NEST AT ST. AUGUSTINE,1315 OAKWOOD AVE RALEIGH NC,RALEIGH,NC,19198217646.0
6,ELEVATION BURGER,8301 BRIER CREEK PKY RALEIGH NC,RALEIGH,NC,19199992774.0

In [10]:
# Dropping columns we don't need
raleigh_df = raleigh_df.drop(["CITY","STATE"], axis=1)

# Display data
raleigh_df.head()

,NAME,ADDRESS,PHONE_NUMBER
0,SUBWAY #12460,706 W PEACE ST RALEIGH NC,19198340605.0
1,CHECKERS PIZZA,2810 HILLSBOROUGH ST RALEIGH NC,19198326522.0
3,TAMARIND,8531-109 BRIER CREEK PKY RALEIGH NC,19194063473.0
5,THE FALCON'S NEST AT ST. AUGUSTINE,1315 OAKWOOD AVE RALEIGH NC,19198217646.0
6,ELEVATION BURGER,8301 BRIER CREEK PKY RALEIGH NC,19199992774.0

In [11]:
# Renaming columns
raleigh_df = raleigh_df.rename(columns={
    "NAME": "Restaurant Name",
    "ADDRESS": "Address"
}
                 )
# Display data
raleigh_df.head()

,Restaurant Name,Address,PHONE_NUMBER
0,SUBWAY #12460,706 W PEACE ST RALEIGH NC,19198340605.0
1,CHECKERS PIZZA,2810 HILLSBOROUGH ST RALEIGH NC,19198326522.0
3,TAMARIND,8531-109 BRIER CREEK PKY RALEIGH NC,19194063473.0
5,THE FALCON'S NEST AT ST. AUGUSTINE,1315 OAKWOOD AVE RALEIGH NC,19198217646.0
6,ELEVATION BURGER,8301 BRIER CREEK PKY RALEIGH NC,19199992774.0

In [12]:
# Function to format the phone number
def format_phone_number(phone):
    if pd.notna(phone) and phone != "N/A":  # Check if phone number is not NaN and not 'N/A'
        phone_str = str(int(phone))  # Convert to string and remove decimal part
        formatted_phone = f'{phone_str[1:4]}-{phone_str[4:7]}-{phone_str[7:]}'  # Format with rounded zeros
        return formatted_phone
    else:
        return "N/A"  # Return 'N/A' for NaN values or 'N/A' strings

# Apply the function to the 'Phone Number' column
raleigh_df["Phone Number"] = raleigh_df["PHONE_NUMBER"].apply(format_phone_number)

# Drop the original 'Phone Number' column
raleigh_df = raleigh_df.drop(columns=["PHONE_NUMBER"])

# Display the resulting DataFrame
raleigh_df.head()

,Restaurant Name,Address,Phone Number
0,SUBWAY #12460,706 W PEACE ST RALEIGH NC,919-834-0605
1,CHECKERS PIZZA,2810 HILLSBOROUGH ST RALEIGH NC,919-832-6522
3,TAMARIND,8531-109 BRIER CREEK PKY RALEIGH NC,919-406-3473
5,THE FALCON'S NEST AT ST. AUGUSTINE,1315 OAKWOOD AVE RALEIGH NC,919-821-7646
6,ELEVATION BURGER,8301 BRIER CREEK PKY RALEIGH NC,919-999-2774

In [13]:
# Adding the Market Name to the index
raleigh_df.set_index("Restaurant Name", inplace=True)

# Display data
raleigh_df

,Address,Phone Number
Restaurant Name,,
SUBWAY #12460,706 W PEACE ST RALEIGH NC,919-834-0605
CHECKERS PIZZA,2810 HILLSBOROUGH ST RALEIGH NC,919-832-6522
TAMARIND,8531-109 BRIER CREEK PKY RALEIGH NC,919-406-3473
THE FALCON'S NEST AT ST. AUGUSTINE,1315 OAKWOOD AVE RALEIGH NC,919-821-7646
ELEVATION BURGER,8301 BRIER CREEK PKY RALEIGH NC,919-999-2774
...,...,...
Gussie's,927 W MORGAN ST RALEIGH NC,N/A
Wing Stop,2920 FORESTVILLE RD RALEIGH NC,984-234-5742
Budacai,120 E Martin ST RALEIGH NC,919-510-2674
Buffalo Wild Wings Go #3998,6196 FALLS OF NEUSE RD RALEIGH NC,984-238-0024
Benelux Cafe,402 Oberlin RD RALEIGH NC,910-258-5239

In [14]:
# Convert to CSV
df.to_csv("Restaurant_Clean.csv")